**Question_1**

In [1]:
scoresheet=[25,39,18,15,30,22]
list1=[]
for i in scoresheet:
  if i !=max(scoresheet):
    list1.append(i)
    i+=1
print(max(list1))

30

**Question_2**

In [ ]:
 d={"John":[25,32,43],"Peter":[87,55,96],"Ram":[58,55,43],"Meena":[63,79,85]}
 name=input("enter the name: ").capitalize()
 if name in d:
  d[name]= [88,77,99]
  print(d)
 else:
  print("name not found...")

enter the name: peter
{'John': [25, 32, 43], 'Peter': [88, 77, 99], 'Ram': [58, 55, 43], 'Meena': [63, 79, 85]}

**Question_3**

In [ ]:
print("welcome....")
age = int(input("enter your age:"))
if age<5 or age>60:
    print(" you got free tickets....")
else:

  gender=input("enter your gender""\n""Male or Female""\n").capitalize()
  if gender=="Female":
    if age>12 and age<=60:
      price=50*50/100
      print("Enjoy...50% off")
      print("ticket price is Rs",price)
    elif age>=5 and age<=12:
      price=10*50/100
      print("Enjoy...50% off")
      print("ticket price is Rs",price)
  elif gender=="Male":
      if age>=5 and age<=12:
        print("ticket price is Rs.10")
      elif age>12 and age<=60:
        print("ticket price is Rs.50")
  else:
    print("check your answer...")

welcome....
enter your age:60
enter your gender
Male or Female
female
Enjoy...50% off
ticket price is Rs 25.0